﻿/* Css for the contact form */
#contact {margin: 20px 0; }
#contact div {margin: 10px 0; }
#contact label span {
	color: red; /* is used for highlighting the required fields */
}
#contact label, #contact input, #contact textarea {
	display: block;
	font-size: 1.1em;
	outline: none;
	font-family: Calibri, Candara, Verdana, sans-serif;
	letter-spacing: 1px;
}
#contact input, #contact textarea {
	border: 1px solid #ddd;
	margin: 3px 0 0 0;
	padding: 4px;
	-moz-transition: 0.4s border;
	-o-transition: 0.4s border;
	-webkit-transition: 0.4s border;
	transition: 0.4s border;
}
#contact input:focus, #contact textarea:focus {
	border: 1px solid teal;
}
#contact input:not([type=submit]) {
	min-width: 30%;
	font-size: 0.9em;
}
#contact textarea {
	width: 50%;
	max-width: 100%;
	height: 130px;
}
#contact div:last-child {
	text-align: center;
}
#contact input[type=submit] {
	margin: 15px 0 0 0;
	background: #1A1A1A;
	background-image: -moz-radial-gradient(85% 1%, #414141 1%, #1A1A1A 75%);
	font-size: 1.3em;
	padding: 7px;
	border: none;
	color: white;
	position: relative;
	border-radius: 10px 10px 10px 10px;
	width: 120px;
	box-shadow: 3px 4px 0px gray;
}

/* ------------- responsive --------------------- */
@media screen and (max-width: 767px) {
	#contact input:not([type=submit]) {
		min-width: 50%;
		font-size: 0.9em;
	}
	#contact textarea {
		width: 90%;
	}
}

/* Validation plugin error styles */
#contact label.error {
	color: red;
	font-family: Cambria, Corbel, Candara, sans-serif;
	font-size: 0.9em;
	display: block;
	padding: 3px 0;
}
#contact input.error, #contact textarea.error {
	border: 1px solid red;
}