﻿/* ---------------- Global ------------------ */
html, body {
	height: 100%;
}
.clear {
	clear: both;
	float: none;
}
.special {
	font-size: 2em;
	border-bottom: 1px solid black;
	margin: 0;
	padding: 0;
	font-family: Cambria, Corbel, sans-serif;
}

.highlight {
	color: gray;
	display: inline;
}
em {
	font-style: italic;
}
strong {
	color: gray;
	font-weight: bold;
}
noscript {
	display: block;
	width: 100%;
	font-size: 1.5em;
	color: red;
}
img {
	max-width: 100%;
}
body {
	text-align: left;
	font-family: Cambria, Candara, Corbel, Verdana, sans-serif;
	background-image: url('../images/bg2.png');
	background-repeat: repeat-all;
	background-color: #DEDEDE;
}
.forced_margin { /* used to force margin at the top of the page, this is used because if normal margining is used- the footer layout will get broken */
	height: 100px;
}
#wrapper {
	height: auto !important;
	min-height: 100%;
	height: 100%;
	margin-bottom: -80px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}
#main {
	width: 100%;
	min-height: 400px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(195, 195, 195, 0.4);
	padding-bottom: 30px;
	margin-bottom: 20px;
}
#content {
	width: 90%;
	max-width: 780px;
	margin: 0 auto;
}
article {
	margin-top: 40px;
	width: 100%;
}
/* --------------- header --------------------- */
header {
	height: 55px;
}
header img {
	margin-top: -59px;
	margin-left: -5%;
}
/* ---------------- nav ----------------------- */
nav {
	float: right;
	clear: right;
	font-size: 1.1em;
}
nav ul, nav li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
nav li {
	float: left;
}
nav a {
	text-decoration: none;
	padding: 10px 16.5px;
	color: rgba(255, 55, 55, 1);
	background: #f7f7f7;
	-moz-transition: 0.3s all;
	-o-transition: 0.3s all;
	-webkit-transition: 0.3s all;
	text-shadow: 1px 1px 2px #D0D0D0, -1px -1px 2px #D0D0D0;
	display: block;
}
nav li:not(:last-child) a {
	border-right: 1px solid #ddd;
}
nav a:hover {
	background: rgb(255, 55, 55);
	color: black;
	text-shadow: none;
}
/* -------------- writings ------------------ */
article article {
	margin: 0;
	padding: 0;
	line-height: 1.6;
	font-size: 0.95em;
	font-family: Verdana, Calibri, sans-serif;
	word-spacing: 2px;
}
article article ul {
	margin: 1% 5%;
	display: block;
	font-size: 0.9em;
	list-style-type: circle;
}
article article p {
	display: inline-block;
	padding-top: 10px;
}
/* --------------------- Search bar ------------------------ */
#search_bar {
	margin: 0;
	padding: 0;
}
#label {
	display: block;
	font-size: 1.5em;
	font-weight: bold;
	padding-bottom: 5px;
	font-family: Cambria, Arial, sans-serif;
}
#search_bar input[type=text] {
	width: 56.4102564103%; /* 520 / 780 (10+10 border) - total equv to 460px */
	display: inline-block;
	font-size: 1.1em;
	font-family: Verdana, Tahoma, Arial, Geogria, serif;
	height: 30px;
	border: 10px solid rgb(255, 55, 55); /* found the solution of the search bar width problem, the border is causing the extra width. So I should keep that BORDER thing in mind */
}
#search_bar input[type=submit] {
	display: inline-block;
	height: auto;
	font-size: 1.3em;
	margin-left: 20px;
	background: black;
	border: none;
	color: white;
	padding: 5px;
	border-radius: 5px 5px 5px 5px;
	cursor: pointer;
	box-shadow: 4px 3px 1px gray;
	font-family: Cambria, Candara, Corbel, sans-serif;
	-moz-transition: 0.3s all;
	-o-transition: 0.3s all;
	-webkit-transition: 0.3s all;
	width: 17.9487179487%;
	font-weight: bold;
	clear: both;
	position: relative
}
#search_bar input[type=submit]:hover {
	background-color: #FF8737;
	color: black;
	top: 2px; /* Gives a press-in effect in the SEARCH button */
}
/* -------------------------- Poster area (response) ----------------------- */
#response {
	margin: 15px 0 0 0;
}
figure {
	width: 89.7435897436%; /* 700/780 */
}
figure img {
	width: 54.2857142857%; /* 380/700 */
	height: 370px;
	float: left;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 1px 1px 3px gray, 0 -1px 1px gray;
}
figcaption {
	float: left;
	margin-left: 2.85714285714%; /* 20/700 */
	max-width: 18.5714285714%; /* 130/700 */
	margin-top: 80px;
}
hgroup h1 {
	font-size: 2em;
	padding: 3px 0 0 0;
	color: #FF8737;
	font-weight: bold;
}
hgroup h2 {
	font-size: 1.4em;
	padding: 0 0 3px 0;
}
#status {
	display: block;
	font-size: 1.5em;
	margin: 10px 0;
}
/* ---------------- Footer ---------------------- */
.push, footer {
	height: 80px;
	clear: both;
	float: none;
}
footer {
	width: 95%;
	max-width: 780px;
	margin: 0 auto;
	text-align: center;
}
footer a {
	text-decoration: none;
	font-weight: bold;
}
footer a:link, footer a:visited, footer a:hover {
	color: #FF8737;
}
footer a:active {
	color: rgb(255, 55, 55);
}

/* -------------------------- Responsive ----------------------- */
/* Small handheld/tablet */
@media screen and (max-width: 1023px) {
	body {
		font-size: 0.9em;
	}
} /* end of 1023px */

/* Mobile */
@media screen and (max-width: 767px) {
	nav {
		float: left;
		width: 100%;
		background: #f7f7f7;
		clear: both;
	}
	header {
		height: 75px;
	}
	nav ul {
		text-align: center;
	}
	nav li {
		display: inline;
		float: none;
	}
	nav li:not(:last-child) a {
		border-right: none;
	}
	nav li a {
		display: inline-block;
		float: none;
		padding: 10px 20px;
		margin: 0;
		font-size: 1.1em;
		border-left: 1px solid #ddd;
		border-right: 1px solid #ddd;
	}
}
@media screen and (max-width: 480px) {
	body {
		font-size: 0.85em;
	}
	#content {
		width: 95%;
	}
	header img {
		margin-left: 0;
	}
	/* ---------- Search fixes --------------- */
	#search_bar input[type=text] {
		border: 6px solid rgb(255, 55, 55);
		width: 69%;
	}
	#search_bar input[type=submit] {
		font-size: 0.9em;
	}
	/* ------------ Poster area fixes ----------------- */
	figure img {
		width: 78%;
		height: 310px;
	}
	hgroup {
		font-size: 0.8em;
	}
}	
@media screen and (max-width: 320px) {
	body {font-size: 0.65em; }
	/* fixes the position of the SEARCH button */
	#search_bar input[type=text], #search_bar input[type=submit] {
		display: block;
	}
	#search_bar input[type=text] {
		min-width: 80%;
		max-width: 100%;
	}
	#search_bar input[type=submit] {
		margin: 0;
		float: none;
		font-size: 1.2em;
		width: auto;
		margin: 5px 0;
	}
	/* ================================ */
	figure img {
		float: none;
		clear: both;
		width: 100%;
	}
	figcaption {
		float: none;
		clear: both;
		font-size: 1em;
		max-width: 100%;
		margin: 0;
		margin: 10px 8px;
	}
	figcaption hgroup {
		float: left;
		padding: 0 10px;
	}
}